# ===============================================
# SPRING BOOT APPLICATION CONFIGURATION
# ===============================================
server:
  port: 8080
# ===============================================
# SPRING BOOT APPLICATION CONFIGURATION
# ===============================================
spring:
  application:
    name: mms-api
  # ===============================================
  # DATABASE (MySQL) CONFIGURATION
  # ===============================================
  datasource:
    url: jdbc:mysql://localhost:3306/mms_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: mms
    password: mms
    driver-class-name: com.mysql.cj.jdbc.Driver
  # ===============================================
  # JPA & HIBERNATE CONFIGURATION
  # ===============================================
  jpa:
    hibernate:
      ddl-auto: update # 개발용
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  # ===============================================
  # Redis CONFIGURATION
  # ===============================================
  data:
    redis:
      host: localhost
      port: 6379
  # ===============================================
  # Kafka CONFIGURATION
  # ===============================================
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer