# ===============================================
# SPRING BOOT APPLICATION CONFIGURATION
# ===============================================
server:
  port: 8081
# ===============================================
# SPRING BOOT APPLICATION CONFIGURATION
# ===============================================
spring:
  application:
    name: mms-worker
  # ===============================================
  # DATABASE (MySQL) CONFIGURATION
  # ===============================================
  datasource:
    url: jdbc:mysql://localhost:3306/mms_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: mms
    password: mms
    driver-class-name: com.mysql.cj.jdbc.Driver
  # ===============================================
  # JPA & HIBERNATE CONFIGURATION
  # ===============================================
  jpa:
    hibernate:
      ddl-auto: update # 개발용
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  # ===============================================
  # Redis CONFIGURATION
  # ===============================================
  data:
    redis:
      host: localhost
      port: 6379
  # ===============================================
  # Kafka CONFIGURATION
  # ===============================================
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: "ocr-worker-group"
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
  # ===============================================
  # Gemini API Key CONFIGURATION
  # ===============================================
google:
  gemini:
    api-key: ${GOOGLE_GEMINI_API_KEY} # 환경 변수로 주입